<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>edit Template</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script th:href="@{/js/scripts.js}"></script>
    <script th:href="@{/js/service.js}"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <div th:replace="~{nav :: body}"></div>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="d-flex align-items-center mt-lg-5 mb-4">
                        <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                        <div class="ms-3">
                            <div class="fw-bold">
                                <p th:text="${sdto.caregiver.name}"></p>
                            </div>
                            <div class="text-muted">
                                <p th:text="${sdto.caregiver.role}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex mx-auto">
                        <form method="request" action="/schedule/serviceIdSchedule" id="reservationForm" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="serviceId" th:value="${sdto.serviceId}">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-outline-dark">예약하기</button>
                            </div>
                        </form>
                        <form method="post" action="/chat/room" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="serviceId" th:value="${sdto.serviceId}">
                            <button type="submit" class="btn btn-outline-dark">문의하기</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-9">
                    <form method="post" action="/service/edit" enctype="multipart/form-data">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="serviceId" th:value="${sdto.serviceId}" />
                        <article>
                            <header class="mb-4">
                                <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                    <input type="text" name="title" class="form-control" th:value="${sdto.title}" />
                                </div>
                                <div th:if="${currentUser == null || currentUser.username != sdto.caregiver.username}">
                                    <h1 id="titleDisplay" class="fw-bolder mb-1" th:text="${sdto.title}"></h1>
                                </div>
                                <div class="text-muted fst-italic mb-2" th:text="${#temporals.format(sdto.updatedAt, 'yyyy-MM-dd')}"></div>
                            </header>
                            <figure class="mb-4">
                                <img class="img-fluid rounded" th:src="@{/service/readImg(imgPath=${sdto.imgPath })}" style="width: 900px; height: 400px" alt="..." />
                            </figure>
                            <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                <input type="file" name="f">
                            </div>
                            <section class="mb-5">
                                <h3 class="fw-bolder mb-4 mt-5">대표경력</h3>
                                <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                    <input type="text" name="career" class="form-control" th:value="${sdto.career}" />
                                </div>
                                <div th:if="${currentUser == null || currentUser.username != sdto.caregiver.username}">
                                    <p id="CareerDisplay" class="fw-bolder mb-1" th:text="${sdto.career}"></p>
                                </div>
                                <h3 class="fw-bolder mb-4 mt-5">전문분야</h3>
                                <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                    <input type="text" name="specialty" class="form-control" th:value="${sdto.specialty}" />
                                </div>
                                <div th:if="${currentUser == null || currentUser.username != sdto.caregiver.username}">
                                    <p id="SpecialtyDisplay" class="fw-bolder mb-1" th:text="${sdto.specialty}"></p>
                                </div>
                                <h3 class="fw-bolder mb-4 mt-5">활동지역</h3>
                                <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                    <input type="text" name="location" class="form-control" th:value="${sdto.location}" />
                                </div>
                                <div th:if="${currentUser == null || currentUser.username != sdto.caregiver.username}">
                                    <p id="LocationDisplay" class="fw-bolder mb-1" th:text="${sdto.location}"></p>
                                </div>
                                <h3 class="fw-bolder mb-4 mt-5">시간당 요금</h3>
                                <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                    <input type="number" name="timeFree" class="form-control" th:value="${sdto.timeFree}" />
                                    <span th:if="${currentUser == null or currentUser.username != sdto.caregiver.username}"
                                          th:value="${@numberUtils.formatNumber((sdto.timeFree - (sdto.timeFree * 0.045)), '#,###')} + ' 원'"></span>

                                </div>
                                <div th:if="${currentUser == null || currentUser.username != sdto.caregiver.username}">
                                    <span th:if="${currentUser == null or currentUser.username != sdto.caregiver.username}"
                                          th:text="${@numberUtils.formatNumber((sdto.timeFree - (sdto.timeFree * 0.045)), '#,###')} + ' 원'"></span>
                                </div>
                                <hr style="width: 100%;">
                                <h3 class="fw-bolder mb-4 mt-5">소개글</h3>
                                <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                    <input type="text" name="introduction" class="form-control" th:value="${sdto.introduction}" />
                                </div>
                                <div class="textarea"
                                        th:if="${currentUser == null || currentUser.username != sdto.caregiver.username}">
                                    <p id="introductionDisplay" class="fw-bolder mb-1" th:text="${sdto.introduction}"></p>
                                </div>
                            </section>
                            <hr style="width: 100%;">
                            <section>
                                <div th:if="${currentUser != null && currentUser.username == sdto.caregiver.username}">
                                    <input type="submit" value="수정">
                                    <input type="button" id="del" value="삭제">
                                </div>
                            </section>
                        </article>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:replace="~{footer :: body}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
</div>
</body>
</html>
