<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>certificationAdd Page</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="index.html">시니어링크</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/service/list}">방문 요양 서비스 신청</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">요양보호사 지원</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a class="dropdown-item" th:href="@{/service/add}">지원서 작성</a></li>
                            <li><a class="dropdown-item" th:href="@{/certification/add}">자격 인증 신청</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html">공지사항</a></li>
                    <li class="nav-item">
                        <div sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/user/login}">로그인</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link" th:href="@{/user/mypage}">마이페이지</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">편안하고 행복한 삶</h1>
                        <p class="lead fw-normal text-muted mb-4">신뢰할 수 있는 요양보호사분들이 제공하는 다양한 서비스를 소개합니다.
                            아래 목록에서 각 요양보호사분들의 경력, 위치, 제공 서비스를 확인하시고, 가장 적합한 요양보호사를 선택하세요.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form class="d-flex justify-content-end" role="search" action="/service/search" method="get">
        <input class="form-control me-2" type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <select name="type">
            <option value="none">전체</option>
            <option value="caregiver">이름</option>
            <option value="location">지역</option>
        </select>
        <input type="text" name="option">
        <button class="btn btn-outline-success" type="submit">검색</button>
    </form>
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class th:each="l, loop:${paging}" onclick="location.href='/service/edit?serviceId=${l.serviceId}'" style="text-decoration: none; color: inherit; cursor: pointer;">
                        <div class="card custom-card shadow-sm h-100">
                            <div class="row gx-5 align-items-center">
                                <div class="col-lg-6">
                                    <img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/500x300/343a40/6c757d" alt="..." />
                                </div>
                                <div class="col-lg-6">
                                    <p th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index }"></p>
                                    <h3 th:text="${l.caregiver.name}"></h3>
                                    <hr>
                                    <p th:text="${l.title}"></p>
                                    <p th:text="${l.career}"></p>
                                    <p th:text="${l.location}"></p>
                                    <p th:text="${#temporals.format(l.createdAt, 'yyyy-MM-dd')}"></p>
                                </div>
                            </div>
                        </div>
                    <br/>
                    </div>
        </div>
    </section>
    <br>
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">

            <!-- 처음 링크 -->
            <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=1&type=${type}&option=${option}|}">
                    <span>시작</span>
                </a>
            </li>
            <!-- 이전 링크 -->
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number}&type=${type}&option=${option}|}">
                    <span>이전</span>
                </a>
            </li>
            <!-- 페이지 번호 -->
            <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                th:if="${page >= paging.number-4 and page <= paging.number+4}"
                th:classappend="${page == paging.number+1} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link"
                   th:href="@{|?page=${page}&type=${type}&option=${option}|}"></a>
            </li>
            <!-- 생략 기호 -->
            <li th:if="${paging.number+4 < paging.totalPages}" class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <!-- 다음 기호 -->
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number+2}&type=${type}&option=${option}|}">
                    <span>다음</span>
                </a>
            </li>
            <!-- 마지막 링크 -->
            <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.totalPages}&type=${type}&option=${option}|}">
                    <span>마지막</span>
                </a>
            </li>
        </ul>
    </div>
</main>


<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; SeniorLink 2024</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
