<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>caregiverlist page</title>
    <link th:href="@{/css/login-signup.css}" rel="stylesheet" />
    <script th:href="@{/js/login-signup.js}"></script>
</head>
<body>
<div class="container container--static">
    <div class="info-box left">
        <h1 class="heading-comment">로그인하세요</h1>
        <p class="info-text">로그인하여 시니어링크의 다양한 돌봄 서비스와 혜택을 경험하세요.</p>
    </div>
</div>
<div class="container container--sliding">
    <div class="slider-content login">
        <h2 class="heading alt">로그인</h2>
        <form th:action="@{/user/login}" method="post">
            <div>
                <label for="username" class="form-label">ID</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div>
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <button type="submit" class="button button--login alt">로그인</button>
        </form>
    </div>
</div>
</body>
</html>