<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
<div class="container">
    <h1>내 정보</h1>
    <div class="profile">
        <img th:src="@{${user.profileImgPath}}" alt="Profile Image" class="profile-img">
    </div>
    <div class="details">
        <p><strong>이름:</strong> <span th:text="${user.name}">Name</span></p>
        <p><strong>구분:</strong>
            <span th:if="${user.role == 'ROLE_CAREGIVER'}">요양보호사</span>
            <span th:if="${user.role == 'ROLE_CARERECEIVER'}">시니어</span>
        </p>
        <p><strong>주소:</strong> <span th:text="${user.address}">Address</span></p>
        <p><strong>이메일:</strong> <span th:text="${user.email}">Email</span></p>
        <p><strong>인증 상태:</strong> <span th:text="${user.status ? '인증완료' : '인증 대기중'}">Status</span></p>
    </div>

    <div class="schedule">
        <h2>신청내역</h2>
        <table>
            <thead>
            <tr>
                <th>예약 일정</th>
                <th>고객</th>
                <th>요청 사항</th>
                <th>상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- 스케쥴이 비어있는 경우 -->
            <tr th:if="${#lists.isEmpty(schedule)}">
                <td colspan="4">신청내역이 없습니다</td>
            </tr>
            <!-- 스케쥴이 있는 경우 -->
            <tr th:each="schedule : ${schedule}">
                <td>
                    <span th:text="${#temporals.format(schedule.startDate, 'yyyy-MM-dd HH:mm')}"></span>
                    <span> ~ </span>
                    <span th:text="${#temporals.format(schedule.endDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
                <td th:text="${schedule.requestMsg}">요청 사항</td>
                <td th:text="${schedule.carereceiver.name}">고객</td>
                <td th:text="${schedule.status == 1 ? '수락완료' : '대기중'}">상태</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
