<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>signup page</title>
    <link th:href="@{/css/login-signup.css}" rel="stylesheet" />
    <script src="/js/login-signup.js" defer></script>
</head>
<body>
<div class="container container--static">
    <div class="info-box left">
        <h1 class="heading-comment">환영합니다!</h1>
        <p class="info-text">시니어링크에 처음 오셨나요? 지금 회원가입하고 맞춤형 돌봄 서비스를 만나보세요!</p>
    </div>
</div>
<div class="container container--sliding--signup">
    <div class="slider-content signup">
        <h2 class="heading alt--signup">회원가입</h2>
        <form th:action="@{/user/signup}" th:object="${request}" method="post">
            <input type="text" th:field="*{username}" class="form-control" placeholder="아이디">
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름">
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일">
            <input type="password" th:field="*{password1}" class="form-control" placeholder="비밀번호">
            <input type="password" th:field="*{password2}" class="form-control" placeholder="비밀번호 확인">
            <input type="text" th:field="*{phone}" class="form-control" placeholder="휴대폰 번호">
            <input type="text" th:field="*{address}" class="form-control" placeholder="주소">
            <input type="text" th:field="*{addressDetail}" class="form-control" placeholder="상세주소">
            <div class="form-group">
                <select id="role" name="role" th:field="*{role}" class="form-control" onchange="toggleGradeSection()">
                    <option value="">회원선택</option>
                    <option value="CAREGIVER">요양보호사</option>
                    <option value="CARERECEIVER">시니어</option>
                </select>
            </div>
            <div id="grade-section" class="form-group" style="display: none;">
                <label for="grade">시니어 등급</label>
                <select id="grade" name="grade" th:field="*{grade}" class="form-control">
                    <option value="">등급 선택</option>
                    <option value="1">1단계</option>
                    <option value="2">2단계</option>
                    <option value="3">3단계</option>
                    <option value="4">4단계</option>
                    <option value="5">5단계</option>
                </select>
            </div>
            <button type="submit" class="button button--login alt">회원가입</button>
        </form>
    </div>
</div>
</body>
</html>
