<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div>
    <h2 class="mb-4">요양 서비스</h2>

    <form action="/service/search" method="get">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <select name="type">
            <option value="none">전체</option>
            <option value="caregiver">이름</option>
            <option value="location">지역</option>
        </select>
        <input type="text" name="option">
        <input type="submit" value="검색" name="search">
    </form>

    <table border="1">
        <tr>
            <br>
            <th>번호</th>
            <th>작성자</th>
            <th>지역</th>
            <th>작성일</th>
        </tr>
        <tr th:each="l, loop:${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index }"></td>
            <td><a th:href="@{/service/edit(serviceId=${l.serviceId})}" th:text="${l.caregiver.name}"></a></td>
            <td th:text="${l.location}"></td>
            <td th:text="${#temporals.format(l.createdAt, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">

            <!-- 처음 링크 -->
            <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=1&type=${type}&option=${option}|}">
                    <span>처음</span>
                </a>
            </li>
            <!-- 이전 링크 -->
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number}&type=${type}&option=${option}|}">
                    <span>이전</span>
                </a>
            </li>
            <!-- 페이지 번호 -->
            <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                th:if="${page >= paging.number-4 and page <= paging.number+4}"
                th:classappend="${page == paging.number+1} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link"
                   th:href="@{|?page=${page}&type=${type}&option=${option}|}"></a>
            </li>
            <!-- 생략 기호 -->
            <li th:if="${paging.number+4 < paging.totalPages}" class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <!-- 다음 기호 -->
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number+2}&type=${type}&option=${option}|}">
                    <span>다음</span>
                </a>
            </li>
            <!-- 마지막 링크 -->
            <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.totalPages}&type=${type}&option=${option}|}">
                    <span>마지막</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</div>
</html>