<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="index.html">시니어링크</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/service/list}">방문 요양 서비스 신청</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">요양보호사 지원</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" th:href="@{/service/add}">지원서 작성</a></li>
                        <li><a class="dropdown-item" th:href="@{/certification/add}">자격 인증 신청</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="about.html">공지사항</a></li>
                <li class="nav-item">
                    <div sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/user/login}">로그인</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/user/mypage}">마이페이지</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
