<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $("#del").click(function () {
                location.href = "/certification/del?certificationId=[[${cdto.certificationId}]]";
            });
        });
    </script>
</head>
<body>
<div>
    <h3>자격인증 상세페이지</h3>
    <form method="post" action="/certification/edit" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <table border="1">
            <tr>
                <th>글번호</th>
                <td><input type="text" name="certificationId" th:value="${cdto.certificationId}" readonly></td>
            </tr>
            <tr>
                <th>근로계약서</th>
                <td><a th:href="@{/certification/down(fname=${cdto.workContract}, num=${cdto.certificationId})}" th:text="${cdto.workContract}"></a></td>
            </tr>
            <tr th:if="${currentUser.username == cdto.caregiver.username}">
                <th>자료변경</th>
                <td><input type="file" name="workContractFile"></td>
            </tr>
            <tr>
                <th>요양보호사 자격증</th>
                <td><a th:href="@{/certification/down(fname=${cdto.certificate}, num=${cdto.certificationId})}" th:text="${cdto.certificate}"></a></td>
            </tr>
            <tr th:if="${currentUser.username == cdto.caregiver.username}">
                <th>자료변경</th>
                <td><input type="file" name="certificateFile"></td>
            </tr>
            <tr>
                <th>건강검진 진단서</th>
                <td><a th:href="@{/certification/down(fname=${cdto.healthCheckup}, num=${cdto.certificationId})}" th:text="${cdto.healthCheckup}"></a></td>
            </tr>
            <tr th:if="${currentUser.username == cdto.caregiver.username}">
                <th>자료변경</th>
                <td><input type="file" name="healthCheckupFile"></td>
            </tr>
            <tr>
                <th>범죄 경력 조회 회신서</th>
                <td><a th:href="@{/certification/down(fname=${cdto.criminalHistory}, num=${cdto.certificationId})}" th:text="${cdto.criminalHistory}"></a></td>
            </tr>
            <tr th:if="${currentUser.username == cdto.caregiver.username}">
                <th>자료변경</th>
                <td><input type="file" name="criminalHistoryFile"></td>
            </tr>
            <tr>
                <th>개인정보동의서</th>
                <td><a th:href="@{/certification/down(fname=${cdto.privacyConsent}, num=${cdto.certificationId})}" th:text="${cdto.privacyConsent}"></a></td>
            </tr>
            <tr th:if="${currentUser.username == cdto.caregiver.username}">
                <th>자료변경</th>
                <td><input type="file" name="privacyConsentFile"></td>
            </tr>
            <tr th:if="${currentUser.username == cdto.caregiver.username}">
                <th>편집</th>
                <td><input type="submit" value="수정"><input type="button" id="del" value="삭제"></td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="footer :: body"></div>
</body>
</html>